<div class="dashboard">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Colegio</h2>
    <nav>
      <a href="/director-users" routerLinkActive="active">👨‍🎓 Usuarios</a>
      <a href="/director-courses" routerLinkActive="active">📚 Cursos</a>
      <a href="/teacher-attendance" routerLinkActive="active">📝 Asistencia</a>
      <a href="/student-courses" routerLinkActive="active">🎒 Mis cursos</a>
    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>