<h3>Gestión de cursos</h3>

<form (submit)="create()">
  <input placeholder="Nombre curso" [(ngModel)]="name" name="name" />
  <input placeholder="Horario" [(ngModel)]="schedule" name="schedule" />
  <label>Profesor:</label>
  <select [(ngModel)]="teacherId" name="teacherId">
    <option *ngFor="let t of teachers" [value]="t.id">{{ t.fullName }}</option>
  </select>
  <label>Estudiantes:</label>
  <div *ngFor="let s of students">
    <label>
      <input
        type="checkbox"
        [value]="s.id"
        (change)="toggleStudent(s.id, $event)"
      />
      {{ s.fullName }}
    </label>
  </div>

  <button type="submit">Crear curso</button>
</form>


<table class="courses-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Horario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of courses">
      <td>{{ c.name }}</td>
      <td>{{ c.schedule }}</td>
      <td>
        <button class="delete-btn" (click)="delete(c.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>